<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Com'e</h3>
                        <p>
                            A108 Adam Street <br>
                            NY 535022, USA<br><br>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <p style="margin-top: 10px"></p>
                    <p>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Com'e</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Developed by <a href="https://jihunparkme.github.io/about-me-page/" target="_blank">jihun.park</a>&nbsp;/&nbsp;
            Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a><br/>
        </div>
    </div>
</footer>