<header th:fragment="header (title)" id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="/">Com'e</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/" th:classappend="${title eq 'home' ? 'active' : ''}">Home</a></li>
                <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/testimonials">Testimonials</a></li>
                    </ul>
                </li>
                <li><a href="/product" th:classappend="${title eq 'product' ? 'active' : ''}">Product</a></li>
                <li><a href="/notice" th:classappend="${title eq 'notice' ? 'active' : ''}">공지사항</a></li>
                <li><a href="/review" th:classappend="${title eq 'review' ? 'active' : ''}">방명록</a></li>
                <li><a href="/contact-us" th:classappend="${title eq 'contact-us' ? 'active' : ''}">Contact Us</a></li>
                <div sec:authorize="isAnonymous()">
                    <li><a th:href="@{/login/user}" class="getstarted">로그인</a></li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="dropdown">
                        <a href="#">
                            <span>[[${session.user.name}]]</span>
                            <i class="bi bi-chevron-down"></i>
                            <span class="login-picture"><img th:src="${session.user.picture}"></span>
                        </a>
                        <ul>
                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/admin}">관리자</a>
                            </li>
                            <li><a th:href="@{/mypage}">내정보</a></li>
                            <li><a th:href="@{/logout}">로그아웃</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>